<div class="row valign-wrapper" id="topbar">
  <div class="col s1">
  </div>
  <div class="col s10 center-align">
    <h2>GCPD Tracking System</h2>
  </div>
  <div class="col s1">
    &nbsp;
  </div>
</div>