<div class="row">    
  <div class="col s9">
    <h3>About GCPD</h3>
    <div class="card yellow lighten-5">
      <div class="card-content ">
        <p>About GCPD: The Gotham City Police Department (GCPD) is a dedicated law enforcement agency committed to maintaining law and order in Gotham City. Our team is composed of highly trained and experienced officers who are passionate about ensuring the safety and security of all Gotham City residents. We work tirelessly to prevent crime, protect the public, and uphold justice.</p>
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

